@import "colors";

.section {
  padding-top: 15rem;
  
  > div {
    height: 120vh;
    max-width: 48rem;
    // background-color: red;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
  }

  h3 {
    width: 80%;
    font: 300 54px $heading;
  }
  p {
    font: 300 19px $text;
    line-height: 1.9;
  }

  button {
    font: 600 14px $text;
    padding: 0.9rem 1.25rem;
    border: none;
    transform-origin: bottom;
    transition: transform 0.5s;
    letter-spacing: 2px;
    // cursor: pointer; 


    &:hover{
        transform: skewX(-10deg);
    }

  }
}
